.home-containers {
  padding: 0 20px;
  header {
    text-align: center;
  }
  .react-table-header-custome {
    > th {
      padding: 10px;
      line-height: 1.5;
    }
    .react-bootstrap-table-sort-order {
      display: none;
    }
  }
  footer {
    float: right;
    .btn {
      margin: 5px;
    }
  }
}